/*DECLARANDO VARIAVEIS CONSTANTES PARAS ESSAS CORES PADRÃO*/
:root{
    --vermelho: #e50914;
    --preta: #141414;
}
/*FORMATANDO O BODY*/
body{
    background-color: var(--preta);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/*ZERANDO AS MARGENS PADRÃO DO NAVEGADOR PARA TODO DOCUMENTO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*FORMATANDO A CAIXA E ALINHANDO OS LINKS DA BARRA DE NAVEGAÇÃO*/
header .container{
    padding: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: var(--preta);
}
/*FORMATANDO O TAMANHO DA LOGO NA BARRA DE NAVEGAÇÃO*/
.logo_img{
    width: 100px;
    margin-top: 5px;
    margin-left: 3%;
    margin-bottom: 5px;
    margin-right: 3%;

    cursor: pointer;
}
/*FORMATANDO COR E MARGEM DOS LINKS NA BARRA DE NAVAGAÇÃO*/
header nav a{
    text-decoration: none;
    color: #aaa;
    margin-right: 10px;
}
/*APLICANDO UM EFEITO DE MUDANÇA DE COR AO COLOCAR O CURSOR POR CIMA DO LINK*/
header nav a:hover{
    color: #fff;
}
.filme_destaque{
    font-size: 20px;
    background: linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)), url(/img/capa.png);

    height: 500px;

    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}


/*ADICIONANDO UMA FONT EXTERNA*/
@font-face {
    font-family: knight;
    src: url(fonts/Supernatural_Knight.ttf);
}
/*UTILIZANDO E FORMATANDO FONTE AO H3 DA MAIN*/
main h3{
    font-family: knight;
    font-size: 40px;
    color: white;
}

main p.descricao{
    width: 40%;
    margin: 10px;
    font-family: knight;
    font-size: 100;
    color: white;
}

main img.titulo{
    max-width: 30%;
    align-items: center;

    margin-bottom: 10px;
}

.botao{
    background-color: rgba(0,0,0,.75);
    border: none;
    border-radius: 3px;

    color: white;

    padding: 1% 3%;
    
    font-size: 70%;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color: white;
    color: black;
}

.filme_destaque .container{
    margin-left: 5%;
    margin-top: 60px;
    width: 100%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}
.item{
    cursor: pointer;    
}


